//====MIXINS=====//

body {
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
   background: #333;
   color: #fff;
   font-size: 1.1em;
   line-height: 1.5;
   text-align: center;
}

img {
    display: block;
    width: 100%;
    height: auto;

}

h1, h2, h3 {

    margin: 0;
    padding: 1em 0;

}
p {
    margin: 0;
    padding: 1em 0;
}

.btn {
    display: inline-block;
    background: #333;
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    margin: 0.5em 0;
    border: 1px solid #666;
      
       &:hover {

        background: #eaeaea;
        color: #333;


       }

}


//========HEADER========//

 #showcase{

        min-height: 100vh;
        color:#fff;
        text-align: center;

          .bg-image{
              position: absolute;
              background: #333 url(../images/aashish-r-gautam-340139-unsplash.jpg);
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
              width: 100%;
              height: 100%;
              z-index: -1;
              opacity: 0.7;

          }

          .content-wrap {
              padding: 0 1.5em;

          }

          h1 {  
              padding-top: 300px;
              padding-bottom: 0;
              font-size: 60px;
          }
          p{
              font-size: 35px;
          }




}

//========== SECTION A ========//

#section-a {
    background: #eaeaea;
    color: #333;
    padding-bottom: 2em; 

       .content-wrap {
           padding: 0 1.5em;
            
       }
         
}


//======== SECTION B =======//

#section-b {
    padding:  2em 1em 1em;

      ul {
          list-style: none;
          margin: 0;
          padding: 0;
          
      }
}

//======== SECTION C =======//

#section-c {
    background: #fff;
    color: #333;
    padding: 2em;

}


//======= SECTION D ======//
 

#section-d {

      .box {
          padding:2em;
          color: #fff;
          text-align: center;

              &:first-child {
                  background: blue;

           }
      }
}

//======= FOOTER=======//

#main-footer {
    padding: 2em;
    background: #000;
    color: #fff;
    text-align: center;

      a{

        color: #fff;
        text-decoration: none;

      }


}

//===== MEDIA QUERY ====//

@media(min-width: 700px){
   .grid {
       display:grid;
       grid-template-columns: 1fr repeat(2, minmax(auto, 30em)) 1fr;

       .content-wrap{
             grid-column: 2/4;
         }



   }

   #section-a {
         .content-text{
             columns: 2;
             column-gap: 2em;
               p {
                   padding-top: 0;
               }

         }
   }

.grid{
     display: grid;
     grid-template-columns: 1fr repeat(2, minmax(auto, 35em)) 1fr;

       
          
           ul {
               grid-column: 2/4;
               display: flex;
               justify-content: space-around;
               li {
                   width: 31%;
               }
           }
    

}

   

      
       
   

  .box, #main-footer div {

     
     grid-column: span 2;
      
   }


  
   
}